table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: rgba(100, 100, 100, 0.5);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
